* {
	margin: 0;
}
html, body {
	height: 100%;
}

.wrapper {
	min-height: 100%;
	margin: 0 auto -155px; /* the bottom margin is the negative value of the footer's height */
}
footer, .footer-spacer {
	height: 155px; /* '.push' must be the same height as 'footer' */
}

.image-wrapper {
	height: 100%;
}
.photoimage {
	width: 100%;
}

img {
    -webkit-transition: width 2s ease-in; /* Safari 3.1 to 6.0 */
    transition: width 2s ease-in;
}

.full-width {
	width: 100%;
}

#brightnessfilter {
	height: 100%;
	width: 100%;
	background-color: rgba(0,0,0,0);
	position: fixed;
}

@import "outputcontrol.less";