/* wedding.css */

/* as is this is only good for width range 993 898 */

html, body { margin:0 0; padding:0 0; min-height:100% }

body {
	background-image: url('images/pei/IMG_6817.JPG');
	background-size: cover;
	background-repeat: no-repeat;
	font-family: Arial,Helvetica,sans-serif;
	width: 100%;
	height: 100%;
	/*color: #5A390F;*/
	color: #23374F;
	font-family: 'Roboto', sans-serif;
}
a, a:visited, a:link, a:hover, a:active {
	text-decoration: none;
	/*color: #5A390F;*/
	color: #23374F;
}
h2,h3 {
	color: #23374F;
}
#top-banner {
	margin: 20px auto;
	width: 835px;
	/*text-align: center;*/
	font-size: 1.4em;
	font-weight: bold;
	background-color: rgba(255, 255, 255, 0.36);
}

#top-banner .names {
	/*font-family: 'Lobster', cursive;*/
	background-image: url('images/names-banner.png');
	background-position: center;
	background-size: cover;
	/*font: normal normal normal 30px/1.4em lobster, cursive*/
	font: 1.6em 'Lobster', cursive;
	margin: 0 auto;
	padding: 48px 88px;
	width: 228px;
	display: inline-block;
	position: relative;
}
/* top date */
#top-banner span:first-child {
	float: left;
	margin-top: 56px;
	margin-left: 60px;
}
/* top location */
#top-banner span:last-child {
	float: right;
	margin-top: 56px;
	margin-right: 60px;
}
#main-menu {
	border: 2px solid white;
	width: 835px;
	margin: 40px auto 0;
	background: white;
	font-weight: bold;
	margin-bottom: -1px;
	text-align: center;
	background: white;
	padding: 0;
	display: table;
	vertical-align: middle;
}
#main-menu a {
	font-weight: bold;
	/*color: #5A390F;*/
	color: #23374F;
	display: table-cell;
	vertical-align: middle;
	/*background-color: #EDD8C7;*/
	background-color: #DBDFED;
	border-right: 1px solid white;
}
#main-menu a:last-child {
	border-right: 0;
}
#main-menu a span {
	padding: 20px 32px;
	overflow: visible;
	transition: background-color 0.5s ease;
	display: block;
	margin: auto 0;
}
#main-menu a span:hover {
	background: white;
	cursor: pointer;
}
#main-menu a.current-page {
	background-color: white;
}
#main-menu a.current-page:hover {
	cursor: wait;
}
/*///TODO: MAKE IMAGE SIZE CHANGE DEPENDING ON SCREEN SIZE */
#welcome-slider {
	width: 831px;
	height: 540px;
	background: white;
	margin: 0 auto;
	background-image: url('images/pei/IMG_6748.JPG');
	background-size: cover;
	border: 4px solid white;
}
#bottom-banner {
	background-image: url('images/bottom-curtain.png');
	background-size: 100%;
	width: 800px;
	height: 140px;
	margin: 0 auto;
}
#note {
	background-color: rgba(205, 205, 205, 0.79);
	text-align: center;
	border: 2px solid white;
	width: 795px;
	margin: 32px auto 32px;
	padding: 20px;
	font-weight: bold;
}
#our-story-body-bg {
	background: #EDD8C7;
	width: 831px;
	height: 540px;
	opacity: 0.6;
	position: absolute;
	z-index: -1;
	left:50%;
	margin-left:-416px;
	margin-top: 48px;
}
/*///TODO: MAKE IMAGE SIZE CHANGE DEPENDING ON SCREEN SIZE */
#our-story-body, #accommodations-body {
	width: 831px;
	height: 540px;
	margin: 48px auto 0;
	font-size: 18px;
}
#accommodations-body {
	padding-top: 48px;
	text-align: center;
	font-weight: bold;
}
#accommodations-body header {
	font-size: 1.8em;
}
#accommodations-body p {
	color: #274D34;
}
/*#our-story-body img.first-of-type {
	width: 140px;
}*/
/*#our-story-body img.first-child {*/
#osimg {
	min-width: 320px;
	min-height: 240px;
	background-image: url('images/IMG_6674.JPG');
	background-size: cover;
	background-repeat: no-repeat;
	float: left;
	margin: 24px;
}
#our-story-body header. #body-bg header {
	padding-top: 24px;
}
#our-story-body .text {
	margin: 24px;
	color: #274D34;
}
header{
	font: 24px/1.2em 'Lobster', cursive
}
#events {
	width: 831px;
	margin: 48px auto 0;
	font-size: 18px;
	color: #274D34;
}
#events-info-body {
	/*background: gray;*/
	width: 394px;
	display: block;
	float: left;
	padding: 6px;
}
#events-info-body-bg {
	background: #EDD8C7;
	width: 394px;
	height: 554px;
	opacity: 0.6;
	position: absolute;
	z-index: -1;
}
#events-info-body header, #our-story-body header {
	font-size: 1.8em;
	/*color: #5A390F;*/
	color: #23374F;
}
h2 {
	font-size: 1.2em;
	text-align: center;
}
h3 {
	font-size: 1em;
}
h3, #events-info-body p {
	margin: 0;
}

.maps {
	float: right;
}
.map_canvas {
    width: 420px;
    height: 240px;
    margin-bottom: 48px;
}
#rsvp-header {
	text-align: center;
}

#rsvp-body {
	width: 831px;
	height: 540px;
	margin: 48px auto 0;
	padding: 32px;
	font-size: 18px;
	background-color: rgba(205, 205, 205, 0.79);
}
#rsvp-body .text a, #rsvp-body .text span {
	color: rgb(119, 72, 52);
	cursor: pointer;
}
#form-box {
	width: 360px;
}
.form-input, textarea {
	width: 320px;
}
form input.button-send {
	width: 80px;
	clear: both;
}