	html, body {
		padding: 0;
		margin: 0;
		height: 100%;
		width: 100%;
	}
	body {
		position: relative;	
	}

	.space {
	  height: 25%;
	}

	.hero #first {
	  margin: 50px 0px; 
	  padding:0px;
	  text-align:center;
	}

	.bottom-space {

	}

	.logo#text {
		font-family: 'Doppio One', sans-serif;
		color: black;
		font-size: 42px;
		padding-right: 10px;
		border: 3px solid white;
	}
	i {  /* the only words with this right now are the first words that were on this website */
		width: 100%;
		text-align: center;
		display: none; /* THIS IS A TRICK RIGHT NOW FOR DEVELOPMENT */
	}
	.words {
		height: 1px;
		width: 1px;
		margin: 0 auto;
		font-style: italic;
		position: relative;
	}
	.words div {
		color: green;
		position: absolute;
	}
	#btmwords {
		display: none;
	}

	#topwords div:nth-child(1) {
		color: blue;

	}