* {
	padding: 0;
	margin: 0;
}
html,body {
	height: 100%;
	width: 100%;
	background: purple;
}

@media screen and (width>939) {
	.center-940 {
		width: 940px;
		margin: auto;
		border: 1px solid black;
	}
	
}